div.navigation-buttons button {
  margin-right: 5px;
}
.container {
  max-width: 600px;
  margin: auto;
}
.container mat-form-field {
  width: 100%;
}
.container button {
  width: 49%;
  margin: auto;
}
