<mat-list>
  <h2>Roles</h2>
  <mat-list-item>
    <mat-form-field class="full-width" appearance="none">
      <input matInput #roleName placeholder="Type new role here..." />
    </mat-form-field>
    <span class="spacer"></span>

    <button
      mat-raised-button
      color="primary"
      class="btn-add"
      (click)="addRole(roleName.value); roleName.value = ''"
    >
      Add
    </button>
  </mat-list-item>
  <div *ngFor="let role of roles">
    <mat-divider></mat-divider>

    <mat-list-item class="role role-{{ (role.id | hashCode | abs) % 6 }}">
      <span>{{ role.name }}</span>
      <span class="spacer"></span>
      <button
        mat-raised-button
        color="warn"
        class="btn-delete"
        (click)="deleteRole(role)"
      >
        Delete
      </button>
    </mat-list-item>
  </div>
</mat-list>
