.role {
  margin-left: -10px;
}
.btn-change {
  margin-left: 10px;
}
app-user-role-snippet {
  padding: 0 10px 0 10px;
  font-style: italic;
  color: #737373;
}
mat-list-item {
  cursor: pointer;
}

.new-user-role {
  margin-right: 19px;
}
.form {
  width: 100%;
}
.form mat-form-field {
  width: 25%;
  margin: auto;
}
