<h2>Manage Users</h2>
<mat-list>
  <h3>New User</h3>
  <mat-list-item>
    <div class="form">
      <mat-form-field class="" appearance="none">
        <input
          matInput
          type="text"
          #newName
          placeholder="Type new name here..."
        />
      </mat-form-field>
      <mat-form-field class="" appearance="none">
        <input
          matInput
          type="text"
          #newUsername
          placeholder="Type new username here..."
        />
      </mat-form-field>
      <mat-form-field class="" appearance="none">
        <input
          matInput
          #newPassword
          type="password"
          placeholder="Type new Password here..."
        />
      </mat-form-field>
      <mat-form-field class="new-user-role" appearance="none">
        <mat-select #newUserRole placeholder="Select user role...">
          <mat-option
            class="role-{{ (avRole.id | hashCode | abs) % 6 }}"
            *ngFor="let avRole of availableRoles"
            [value]="avRole.id"
          >
            {{ avRole.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn-add"
      (click)="
        addUser(newUsername.value, newUserRole.value);
        newUsername.value = '';
        newUserRole.value = ''
      "
    >
      Add
    </button>
  </mat-list-item>
</mat-list>
<mat-list>
  <h3>Users</h3>
  <div *ngFor="let user of users">
    <mat-list-item
      class="role role-{{ (user.roleId | hashCode | abs) % 6 }}"
      routerLink="/user/{{ user.id }}"
    >
      <span>{{ user.username }}</span>
      <span class="spacer"></span>
      <app-user-role-snippet [roleId]="user.roleId"></app-user-role-snippet>
      <button mat-raised-button color="primary" class="btn-delete">
        Manage
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
